@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Reforma Grotesk Light W08 Rg";
  src: url("https://db.onlinewebfonts.com/t/f309a212a70615569ec21bd5d4471c9f.eot");
  src: url("https://db.onlinewebfonts.com/t/f309a212a70615569ec21bd5d4471c9f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f309a212a70615569ec21bd5d4471c9f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f309a212a70615569ec21bd5d4471c9f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f309a212a70615569ec21bd5d4471c9f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f309a212a70615569ec21bd5d4471c9f.svg#Reforma Grotesk Light W08 Rg")
      format("svg");
}
@font-face {
  font-family: "Reforma Grotesk W01 Medium";
  src: url("https://db.onlinewebfonts.com/t/10135661a95d79b0adf85109e0ecfcf2.eot");
  src: url("https://db.onlinewebfonts.com/t/10135661a95d79b0adf85109e0ecfcf2.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/10135661a95d79b0adf85109e0ecfcf2.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/10135661a95d79b0adf85109e0ecfcf2.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/10135661a95d79b0adf85109e0ecfcf2.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/10135661a95d79b0adf85109e0ecfcf2.svg#Reforma Grotesk W01 Medium")
      format("svg");
}
@import url(https://db.onlinewebfonts.com/c/892951b494976f7fd57f5d460c690966?family=MullerMedium);
@import url(https://db.onlinewebfonts.com/c/79777f9c7085d7e3c556a082213e51bb?family=Muller-Regular18);
@import url(https://db.onlinewebfonts.com/c/ff58dca608a4f4a4596b592a1b9538a1?family=Muller+W00+Light);

body {
  @apply bg-graphite-gray font-Montserrat font-normal text-base;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.container {
  @apply max-w-[1234px] mx-auto;
}

.title {
  @apply font-ReformaGroteskLight text-[96px] font-normal uppercase leading-[106.94px] tracking-[0.01em] text-light-brown;
  font-family: "Reforma Grotesk Light W08 Rg";
}

.title-lg {
  @apply font-ReformaGroteskLight text-[128px] font-normal uppercase leading-[142.59px] tracking-[0.01em] text-light-brown;
  font-family: "Reforma Grotesk Light W08 Rg";
}

.title-xs {
  @apply font-Muller text-4xl font-normal uppercase leading-6 tracking-[0.01em] text-light-brown;
}

.desc {
  @apply font-Muller text-light-white text-lg leading-6 tracking-wide font-light;
}

.interyer-nomer__swiper .swiper-slide {
  transition: all 0.2s linear;
}

.interyer-nomer__swiper .swiper-slide-active {
  min-width: 720px !important;
}

.outline-btn {
  @apply font-Muller text-sm leading-[18px] py-2 px-6 rounded-[50px] font-normal border-light-brown border text-light-brown transition-all  ease-linear hover:bg-light-brown hover:text-white;
}

/*  */
.breadcrumb ul {
  @apply flex items-center gap-4 text-white font-Muller text-sm leading-[14px] pt-[83px] pb-5;
}

.gray-btn {
  @apply py-2 px-[22px] bg-graphite-gray text-light-brown text-sm font-normal leading-[18px] rounded-[50px] uppercase hover:bg-light-brown hover:text-graphite-gray border border-graphite-gray transition-all ease-linear;
}
.brown-btn {
  @apply py-2 px-[22px] bg-light-brown text-graphite-gray text-sm font-normal leading-[18px] rounded-[50px] uppercase hover:bg-graphite-gray hover:text-light-brown border border-light-brown transition-all ease-linear;
}

.title-xl {
  @apply font-ReformaGroteskLight;
  font-size: 54px;
  font-weight: 500;
  line-height: 55.73px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #3D3D3D;
  text-transform:uppercase;
}
